/*
 A few extra features for LaTeX.css

 - Fixed top bar for navigation (requires JS)
 - Fixed right-bottom corner to go to the top (requires JS)
 - A modal to show extra info (requires JS)

 by Juan Carlos Ponce Campuzano 7/Feb/2024
 License: CC BY-NC-SA 4.0 DEED
 Attribution-NonCommercial-ShareAlike 4.0 International
 https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1
*/

/* Fixed bar styles */
.fixed-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 89ch;
    height: 50px;
    background-color: hsla(210, 20%, 98%, 0.9);
    /* White with 30% transparency */
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
    /* Ensuring the bar is above other content */
}

.link-container {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black !important;
    margin: 0 10px;
    font-size: 1.005em;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.arrow {
    margin-right: 8px;
    margin-left: 8px;
    padding: 0px 5px;
}

.arrow:hover {
    background-color: rgba(222, 222, 222, 0.8);
    border-radius: 10px;
}

.content-original {
    display: inline;
    border-radius: 10px;
    padding: 0px 5px;
}

.content-hover,
.content-hover-previous,
.content-hover-next {
    display: none;
    background-color: rgba(222, 222, 222, 0.8);
    border-radius: 10px;
    padding: 0px 5px;
}

.dark-mode-button,
.support-top-button {
    position: relative;
    left: 0px;
    margin-left: 0px;
}

.extra-text-container {
    display: flex;
    align-items: center;
}

#dark-mode-toggle {
    cursor: pointer;
    padding: 5px;
}

#dark-mode-toggle:hover {
    color: rgba(4, 112, 162, 0.976);
}

#donate {
    cursor: pointer;
    padding: 5px;
}

#donate:hover {
    color: rgba(4, 112, 162, 0.976);
}

/* Media query for smaller screens - Top bar */
@media only screen and (max-width: 500px) {
    .fixed-bar {
        width: 100%;
        height: 40px;
    }

    .link {
        font-size: 0.9em;
    }

    #dark-mode-toggle {
        font-size: 0.8em;
    }

    #donate {
        font-size: 0.8em;
    }

    .dark-mode-button {
        display: none;
    }
}

footer {
    text-align: center;
    padding: 20px;
}

.myFrame {
    overflow-x: auto;
    text-align: center;
}

.responsive {
    display: block;
    overflow-x: auto;
}

@media (min-width:993px) {
    .hide-large {
        display: none !important
    }
}

@media (max-width:992px) and (min-width:501px) {
    .hide-medium {
        display: none !important
    }
}

@media (max-width:500px) {
    .hide-small {
        display: none !important
    }
}

/* The following is for the Modal */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9998;
    /* Sit on top */
    padding-top: 70px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #f2f2f2;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    /* fonts */
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    color: #262626;
}

.modal-link {
    padding: 9px;
    background-color: #d8d8d8;
    border-radius: 8px;
    color: black !important;
    font-weight: bold;
    text-decoration: none !important;
}

.modal-link:hover {
    color: rgba(4, 112, 162, 0.976) !important;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 48px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #6464d6;
    color: #f7f7f7f3;
    text-align: center;
    font-size: 1.5em;
    ;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 20px 20px 20px 20px;
    background-color: #6464d6;
    color: #f7f7f7f3;
    text-align: center !important;
    font-weight: bold;
}

/* The modal setup ends here */


#toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: rgba(145, 145, 145, 0.567);
    color: rgb(237, 237, 237);
    cursor: pointer;
    width: 50px;
    /* Adjust button width */
    height: 50px;
    /* Adjust button height */
    line-height: 40px;
    /* Adjust line-height to center text vertically */
    text-align: center;
    /* Center text horizontally */
    padding: 0;
    /* Remove padding */
    border-radius: 50%;
    /* Make it circular */
}

#toTop:hover {
    background-color: #747474;
}


/* Custom lists for "ol" tag */
/* Alphabetical small caps */
.alpha-list {
    list-style-type: none;
    /* Remove default numbering */
    counter-reset: list-counter;
    /* Reset the counter */
}

.alpha-list li {
    counter-increment: list-counter;
    /* Increment the counter */
}

.alpha-list li:before {
    content: "(" counter(list-counter, lower-alpha) ") ";
    /* Use lowercase letters with parentheses */
}

/* Roman small caps */
.roman-list {
    list-style-type: none;
    /* Remove default numbering */
    counter-reset: list-counter;
    /* Reset the counter */
}

.roman-list li {
    counter-increment: list-counter;
    /* Increment the counter */
}

.roman-list li:before {
    content: "(" counter(list-counter, lower-roman) ") ";
    /* Use lowercase letters with parentheses */
}

/* Biblio LaTeX */
.bbtex-list {
    list-style-type: none;
    /* Remove default numbering */
    counter-reset: list-counter;
    margin-left: 0;
    padding-left: 0;
    /* Reset the counter */
}

.bbtex-list li {
    text-align: justify;
    counter-increment: list-counter;
    display: block;
    margin-left: 3.5em; 
    /* Increment the counter */
}

.bbtex-list li:before {
    content: "[" counter(list-counter, decimal) "]. ";
    display: inline-block;
    text-align: right;
    width: 3em;                  /* Must be the maximum width of your list's numbers, including the ')', for compatability (in case you use a fixed-width font, for example).  Will have to beef up if using roman. */
    padding-right: 0.5em;
    margin-left: -3.5em; 
    /* Use lowercase letters with parentheses */
}

#licence-link {
    text-decoration: none;
    font-size: 0.9em;
}

/* Styles for the table of contents */
.toc-chapter {
    font-size: 0.75em;
    line-height: 1.5em;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px 20px 5px 10px;
    max-height: calc(100vh - 40px); /* Adjust height as needed */
    overflow-y: auto;
    width: 245px;
    max-width: 245px;
    z-index: 10;
  }
  .toc-chapter p {
    margin-top: 0;
    margin-bottom: -10px;
  }
  
  .toc-chapter ul {
    list-style-type: none;
    padding: 0;
    
  }
  .toc-chapter li {
    margin-left: 5px;
  }
 
   /* Highlighting active section */
.active {
    font-weight: bold;
  }
  .highlight {
    text-decoration: none;
    border-left: 3px solid #8cb5e785;
    padding: 2px 2px;
  }

@media (max-width: 1325px) {
    .toc-chapter {
        display: none !important;
    }
}

/*
 https://benfrain.com/create-print-styles-using-css3-media-queries/
*/
@media print {

    #fixed-bar,
    #left-link,
    #right-link,
    #center-link,
    #dark-mode-toggle,
    #donate,
    #footer-elements,
    .nextPage,
    .toc-chapter {
        display: none;
    }

    #toTop {
        display: none !important;
    }

    body {
        width: 95%;
        margin: 0px;
        padding: 10px 10px 20px 50px;
    }

    * {
        color: #000;
        background-color: #fff;
    }

    label.sidenote-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote {
        display: none;
    }

    .sidenote-toggle+.sidenote {
        display: block;
        margin: 0.5rem 1.25rem 1rem 0.5rem;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
    }

}

